{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Library{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <!-- شريط التنقل المشترك -->
    <div class="topnav">
        <a href="{% url 'books.index' %}">Home</a>
        <a href="{% url 'books.list_books' %}">List Books</a>
        <a href="{% url 'books.aboutus' %}">About</a>
    </div>

    <!-- هنا المحتوى الخاص بكل صفحة -->
    {% block content %}
    {% endblock %}
</body>
</html>
